{% extends 'base.html.twig' %} {% block title %}Hello ArticleController!{%
    endblock %} 
    {% block body %}
    <div class="m-10">
           <h1 class="text-4xl my-5">Titre de l'article</h1>
    <div class="flex flex-row space-x-4">
        <img class="w-1/2" src="https://via.placeholder.com/654x480.png/00dd33?text=users+qui" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, odit exercitationem praesentium atque deleniti optio eveniet blanditiis nesciunt quidem, ex quod provident ut dolorem quae accusantium deserunt repellat tempora cum labore ipsa, dolorum molestias quos minima. Voluptas obcaecati eveniet dolorum quisquam velit quidem laboriosam sint similique quod fugit! Quas, nesciunt!</p>
    </div>
    <div class="flex flex-row justify-around my-10">
        <p>Date:</p>
        <p>Nom Prenom: </p>
    </div>  
    <div class="flex flex-row justify-around my-10">
        <p class="bg-red-100 rounded p-3">categorie 1</p>
        <p class="bg-red-100 rounded p-3">categorie 2</p>
        <p class="bg-red-100 rounded p-3">categorie 3</p>

    </div> 
    </div>


    {% endblock %}